<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= appName %></title>
  </head>
  <body>
    <div id='root'>
    </div>
    <script src="/<%= appName %>/dist/bundle.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </body>
</html>